.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0a0a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .loader-container.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .loader-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
  .loader-name span {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  